Repository RafaelCava/desafio-back-end: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint src/** --fix, yarn test:staged, eslint tests/** --fix

.lintstagedrc.json:

{
  "src/**/*.ts": [
    "eslint src/** --fix",
    "yarn test:staged"
  ],
  "tests/**/*.ts": [
    "eslint tests/** --fix",
    "yarn test:staged"
  ]
}

feat: add plugin to jest for best use eslint
  .eslintrc.json
  package.json
  yarn.lock
Due: none

chore: add load-articles requirements
  requirements/load-articles.md
Due: none

chore: update load-articles requirement
  requirements/load-articles.md
Due: none

chore: add load-articles-by-category requirement
  requirements/load-articles-by-category.md
Due: none

chore: add load-articles-by-term requirement
  requirements/load-articles-by-term.md
Due: none

feat: ensure LoadArticlesController call LoadArticle once time
  .eslintrc.json
  jest-unit.config.ts
  jest.config.ts
  package.json
  src/domain/models/article.ts
  src/domain/models/index.ts
  src/domain/usecase/index.ts
  src/domain/usecase/load-articles.ts
  src/index.ts
  src/presentation/controllers/index.ts
  src/presentation/controllers/load-articles.ts
  src/presentation/protocols/controller.ts
  src/presentation/protocols/http.ts
  src/presentation/protocols/index.ts
  tests/domain/mocks/load-articles.ts
  tests/presentation/controllers/load-articles.spec.ts
  tests/test.spec.ts
Due: eslint src/** --fix, yarn test:staged, eslint tests/** --fix

chore: update lint-staged config files
  .lintstagedrc.json
Due: none

feat: ensure LoadArticlesController returns ServerError if LoadArticles throws
  src/presentation/controllers/load-articles.ts
  src/presentation/errors/index.ts
  src/presentation/errors/missing-param-error.ts
  src/presentation/errors/server-error.ts
  src/presentation/helpers/http-helper.ts
  src/presentation/protocols/index.ts
  src/presentation/protocols/statusCode.ts
  tests/domain/mocks/index.ts
  tests/domain/mocks/throw-error.ts
  tests/presentation/controllers/load-articles.spec.ts
Due: eslint src/** --fix, yarn test:staged, eslint tests/** --fix

feat: ensure LoadArticlesController returns 200 with articles if then exists
  package.json
  src/presentation/controllers/load-articles.ts
  tests/domain/mocks/index.ts
  tests/domain/mocks/load-articles.ts
  tests/domain/mocks/mock-articles.ts
  tests/presentation/controllers/load-articles.spec.ts
  yarn.lock
Due: eslint src/** --fix, yarn test:staged, eslint tests/** --fix

test: ensure LoadArticlesController returns 200 with a empty array if not exits articles
  .gitignore
  package.json
  tests/domain/mocks/index.ts
  tests/presentation/controllers/load-articles.spec.ts
  tests/presentation/mocks/load-articles.ts
Due: yarn test:staged, eslint tests/** --fix

feat: ensure DbLoadArticles calls LoadArticlesRepository once time
  src/data/protocols/index.ts
  src/data/protocols/load-articles-repository.ts
  src/data/usecases/db-load-articles.ts
  src/data/usecases/index.ts
  src/domain/usecases/index.ts
  src/domain/usecases/load-articles.ts
  src/presentation/controllers/load-articles.ts
  tests/data/mocks/load-articles-repository.ts
  tests/data/usecases/db-load-articles.spec.ts
  tests/presentation/controllers/load-articles.spec.ts
  tests/presentation/mocks/load-articles.ts
Due: eslint src/** --fix, yarn test:staged, eslint tests/** --fix

feat: ensure DbLoadArticles returns an array with articles if then exists
  tests/data/usecases/db-load-articles.spec.ts
Due: yarn test:staged, eslint tests/** --fix

feat: ensure DbLoadArticles returns a empty array if LoadArticlesRepository returns a empty array
  tests/data/usecases/db-load-articles.spec.ts
Due: yarn test:staged, eslint tests/** --fix

test: ensure DbLoadArticles throws if LoadArticlesRepository throws
  tests/data/usecases/db-load-articles.spec.ts
Due: yarn test:staged, eslint tests/** --fix

feat: ensure ArticleMysqlRepository return a empty array if no articles are found
  .env
  docker-compose.yml
  package.json
  prisma/migrations/20230403022442_init/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
  src/infra/db/prisma/client.ts
  src/infra/db/prisma/repositories/article-mysql-repository.ts
  tests/infra/db/prisma/repositories/article-mysql-repository.spec.ts
  tests/infra/db/prisma/singleton.ts
  yarn.lock
Due: eslint src/** --fix, yarn test:staged, eslint tests/** --fix

feat: ensure ArticleMysqlRepository return an array with Articles
  docker-compose.yml
  jest.config.ts
  src/domain/models/article.ts
  src/infra/db/prisma/repositories/article-mysql-repository.ts
  tests/domain/mocks/mock-articles.ts
  tests/infra/db/prisma/repositories/article-mysql-repository.spec.ts
  tests/infra/db/prisma/singleton.ts
  tests/presentation/controllers/load-articles.spec.ts
  tsconfig.json
Due: eslint src/** --fix, yarn test:staged, eslint tests/** --fix

chore: remove .env file
  .env
  .gitignore
Due: none

feat: update enviroment
  .docker/entrypoint.sh
  .env.example
  package.json
Due: none

feat: add disconnect to database in tests
  tests/infra/db/prisma/repositories/article-mysql-repository.spec.ts
Due: yarn test:staged, eslint tests/** --fix

feat(main): add new main layer
  .docker/entrypoint.sh
  docker-compose.yml
  jest-integration.config.ts
  package.json
  src/infra/db/prisma/repositories/article-mysql-repository.ts
  src/main/adapters/express-middleware-adapter.ts
  src/main/adapters/express-route-adapter.ts
  src/main/config/app.ts
  src/main/config/custom-modules.d.ts
  src/main/config/env.ts
  src/main/config/middlewares.ts
  src/main/config/routes.ts
  src/main/middlewares/body-parser.ts
  src/main/middlewares/content-type.ts
  src/main/middlewares/cors.ts
  src/main/middlewares/index.ts
  src/main/middlewares/no-cache.ts
  src/main/routes/login-routes.ts
  src/main/server.ts
  src/presentation/protocols/index.ts
  src/presentation/protocols/middleware.ts
  tests/main/middlewares/body-parser.test.ts
  tests/main/middlewares/content-type.test.ts
  tests/main/middlewares/cors.test.ts
  tests/main/middlewares/no-cache.test.ts
  tsconfig.json
  yarn-error.log
  yarn.lock
Due: eslint src/** --fix, yarn test:staged, eslint tests/** --fix

chore: update entrypoint
  .docker/entrypoint.sh
Due: none

feat: ensure GET /articles returns 200 with an array with articles
  src/infra/db/helpers/index.ts
  src/infra/db/helpers/mysql-helper.ts
  src/infra/db/prisma/repositories/article-mysql-repository.ts
  src/main/factories/controllers/index.ts
  src/main/factories/controllers/load-articles-controller-factory.ts
  src/main/factories/usecases/db-load-articles-factory.ts
  src/main/factories/usecases/index.ts
  src/main/routes/article-routes.ts
  tests/main/routes/article-routes.test.ts
Due: eslint src/** --fix, yarn test:staged, eslint tests/** --fix

feat: ensure GET /articles returns 200 with a empty array if doesn't exists articles
  src/infra/db/prisma/repositories/article-mysql-repository.ts
  tests/main/routes/article-routes.test.ts
Due: eslint src/** --fix, yarn test:staged, eslint tests/** --fix

fix: ensure GET /articles returns date prop as string
  prisma/migrations/20230404235248_change_date_type_to_string/migration.sql
  prisma/schema.prisma
  src/domain/models/article.ts
  src/infra/db/helpers/index.ts
  src/infra/db/helpers/mysql-helper.ts
  src/infra/db/prisma/repositories/article-mysql-repository.ts
  tests/domain/mocks/mock-articles.ts
  tests/main/routes/article-routes.test.ts
Due: eslint src/** --fix, yarn test:staged, eslint tests/** --fix

test: ensure to be defined
  .husky/pre-push
  src/infra/db/prisma/repositories/article-mysql-repository.ts
  tests/infra/db/prisma/repositories/article-mysql-repository.spec.ts
Due: eslint src/** --fix, yarn test:staged, eslint tests/** --fix

chore: release/1.1.0
  package.json
Due: none

fix: change schema article
  prisma/migrations/20230404235248_change_date_type_to_string/migration.sql
  prisma/schema.prisma
  requirements/load-articles.md
Due: none

feat: ensure GET /articles returns an array with articles order by date
  src/infra/db/prisma/repositories/article-mysql-repository.ts
  tests/domain/mocks/mock-articles.ts
  tests/infra/db/prisma/repositories/article-mysql-repository.spec.ts
Due: eslint src/** --fix, yarn test:staged, eslint tests/** --fix

chore: release/1.1.1
  package.json
Due: none

chore: update requirements
  requirements/load-articles-by-category.md
  requirements/load-articles-by-term.md
  requirements/load-articles.md
Due: none

feat: ensure LoadArticlesByCategoryController call LoadArticlesByCategory with correct values
  src/domain/models/article.ts
  src/domain/usecases/index.ts
  src/domain/usecases/load-articles-by-category.ts
  src/presentation/controllers/index.ts
  src/presentation/controllers/load-articles-by-category.ts
  tests/domain/mocks/mock-articles.ts
  tests/presentation/controllers/load-articles-by-category.spec.ts
  tests/presentation/mocks/load-articles.ts
Due: eslint src/** --fix, yarn test:staged, eslint tests/** --fix

feat: ensure LoadArticleByCategoryController returns ServerError if anything throws
  src/presentation/controllers/load-articles-by-category.ts
  tests/presentation/controllers/load-articles-by-category.spec.ts
Due: eslint src/** --fix, yarn test:staged, eslint tests/** --fix

feat: ensure LoadArticlesByCategory return 200 with a empty array if no articles are found
  src/presentation/controllers/load-articles-by-category.ts
  tests/presentation/controllers/load-articles-by-category.spec.ts
Due: eslint src/** --fix, yarn test:staged, eslint tests/** --fix

test: should returns 200 with articles with the same category
  tests/presentation/controllers/load-articles-by-category.spec.ts
Due: yarn test:staged, eslint tests/** --fix

feat: ensure LoadArticlesByCategory return badRequest if no category are provided
  src/presentation/controllers/load-articles-by-category.ts
  src/presentation/helpers/http-helper.ts
  tests/presentation/controllers/load-articles-by-category.spec.ts
Due: eslint src/** --fix, yarn test:staged, eslint tests/** --fix

feat: ensure DbLoadArticlesByCategory call LoadArticlesByCategoryRepository with correct value
  src/data/protocols/index.ts
  src/data/protocols/load-articles-by-category-repository.ts
  src/data/usecases/db-load-articles-by-category.ts
  src/data/usecases/index.ts
  tests/data/mocks/load-articles-repository.ts
  tests/data/usecases/db-load-articles-by-category.spec.ts
Due: eslint src/** --fix, yarn test:staged, eslint tests/** --fix

test: ensure DbLoadArticlesByCategory throws if LoadArticlesByCategoryRepository throws
  tests/data/usecases/db-load-articles-by-category.spec.ts
Due: yarn test:staged, eslint tests/** --fix

test: ensure DbLoadArticlesByCategory returns a empty array if no Articles are found
  tests/data/usecases/db-load-articles-by-category.spec.ts
Due: yarn test:staged, eslint tests/** --fix

test: ensure DbLoadArticlesByCategory returns an array with Articles on succeed
  tests/data/mocks/articles-repository.ts
  tests/data/usecases/db-load-articles-by-category.spec.ts
  tests/data/usecases/db-load-articles.spec.ts
Due: yarn test:staged, eslint tests/** --fix

feat: add type on return load
  src/infra/db/prisma/repositories/article-mysql-repository.ts
Due: eslint src/** --fix, yarn test:staged
