Repository RafaelCava/desafio-back-end: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint src/** --fix, yarn test:staged, eslint tests/** --fix

.lintstagedrc.json:

{
  "src/**/*.ts": [
    "eslint src/** --fix",
    "yarn test:staged"
  ],
  "tests/**/*.ts": [
    "eslint tests/** --fix",
    "yarn test:staged"
  ]
}

feat: ensure loadByCategory return a empty array if no articles are found
  prisma/migrations/20230405024849_init/migration.sql
  src/infra/db/prisma/repositories/article-mysql-repository.ts
  tests/data/usecases/db-load-articles-by-category.spec.ts
  tests/infra/db/prisma/repositories/article-mysql-repository.spec.ts
Due: eslint src/** --fix, yarn test:staged, eslint tests/** --fix

feat: ensure loadByCategory returns articles if they exists
  tests/infra/db/prisma/repositories/article-mysql-repository.spec.ts
Due: yarn test:staged, eslint tests/** --fix

test: ensure ArticleMysqlRepository throws if loadByCategory throws
  tests/infra/db/prisma/repositories/article-mysql-repository.spec.ts
Due: yarn test:staged, eslint tests/** --fix

feat: ensure GET /articles/:category returns articles or empty array
  src/infra/db/prisma/repositories/article-mysql-repository.ts
  src/main/factories/controllers/index.ts
  src/main/factories/controllers/load-articles-by-category-controller-factory.ts
  src/main/factories/usecases/db-load-articles-by-category-factory.ts
  src/main/factories/usecases/index.ts
  src/main/routes/article-routes.ts
  tests/main/routes/article-routes.test.ts
Due: eslint src/** --fix, yarn test:staged, eslint tests/** --fix

chore: update requirements
  requirements/load-articles-by-category.md
Due: none

chore: update project version
  package.json
Due: none

feat: change file name from prisma to mysql
  src/infra/db/mysql/client.ts
  src/infra/db/mysql/repositories/article-mysql-repository.ts
  src/main/factories/usecases/db-load-articles-by-category-factory.ts
  src/main/factories/usecases/db-load-articles-factory.ts
  src/main/server.ts
  tests/infra/db/prisma/repositories/article-mysql-repository.spec.ts
  tests/main/routes/article-routes.test.ts
Due: eslint src/** --fix, yarn test:staged, eslint tests/** --fix

chore: add health check on docker compose file
  docker-compose.yml
Due: none

feat: ensure LoadArticlesByTermController call LoadArticlesByTerm with correct value
  src/domain/usecases/index.ts
  src/domain/usecases/load-articles-by-term.ts
  src/presentation/controllers/index.ts
  src/presentation/controllers/load-articles-by-term.ts
  tests/domain/mocks/mock-articles.ts
  tests/presentation/controllers/load-articles-by-term.spec.ts
  tests/presentation/mocks/load-articles.ts
Due: eslint src/** --fix, yarn test:staged, eslint tests/** --fix

feat: ensure LoadArticlesByTermController return serverError if LoadArticlesByTerm throws
  src/presentation/controllers/load-articles-by-term.ts
  tests/presentation/controllers/load-articles-by-term.spec.ts
Due: eslint src/** --fix, yarn test:staged, eslint tests/** --fix

feat: ensure LoadArticlesByTermController return Articles with same term on succeeds
  src/presentation/controllers/load-articles-by-term.ts
  tests/presentation/controllers/load-articles-by-term.spec.ts
Due: eslint src/** --fix, yarn test:staged, eslint tests/** --fix

feat: ensure DbLoadArticlesByTerm call loadArticlesByTermRepository with correct value
  src/data/protocols/index.ts
  src/data/protocols/load-articles-by-term-repository.ts
  src/data/usecases/db-load-articles-by-term.ts
  src/data/usecases/index.ts
  tests/data/mocks/articles-repository.ts
  tests/data/usecases/db-load-articles-by-term.spec.ts
Due: eslint src/** --fix, yarn test:staged, eslint tests/** --fix

fix: ensure DbLoadArticlesByTerm throws if loadArticlesByTermRepository throws
  tests/data/usecases/db-load-articles-by-term.spec.ts
Due: yarn test:staged, eslint tests/** --fix

feat: ensure DbLoadArticlesByTerm return a empty array if no articles are found
  tests/data/usecases/db-load-articles-by-term.spec.ts
Due: yarn test:staged, eslint tests/** --fix

feat: ensure DbLoadArticlesByTerm returns articles on succeeds
  tests/data/usecases/db-load-articles-by-term.spec.ts
Due: yarn test:staged, eslint tests/** --fix

feat: ensure loadByTerm returns a empty array if no articles are found
  src/infra/db/mysql/repositories/article-mysql-repository.ts
  tests/infra/db/prisma/repositories/article-mysql-repository.spec.ts
Due: eslint src/** --fix, yarn test:staged, eslint tests/** --fix

feat: ensure loadByTerm throws if prisma thorws
  src/infra/db/mysql/repositories/article-mysql-repository.ts
  tests/infra/db/prisma/repositories/article-mysql-repository.spec.ts
Due: eslint src/** --fix, yarn test:staged, eslint tests/** --fix

test: ensure loadByTerm return just only articles with same term provided
  tests/infra/db/prisma/repositories/article-mysql-repository.spec.ts
Due: yarn test:staged, eslint tests/** --fix

feat: ensure GET /articles/search/:term return 200 with a empty array if no articles are found
  src/main/factories/controllers/index.ts
  src/main/factories/controllers/load-articles-by-term-controller-factory.ts
  src/main/factories/usecases/db-load-articles-by-term-factory.ts
  src/main/factories/usecases/index.ts
  src/main/routes/article-routes.ts
  tests/main/routes/article-routes.test.ts
Due: eslint src/** --fix, yarn test:staged, eslint tests/** --fix

feat: ensure GET /articles/search/:term return 200 with an array with articles
  tests/main/routes/article-routes.test.ts
  tests/presentation/controllers/load-articles-by-term.spec.ts
Due: yarn test:staged, eslint tests/** --fix

chore: release/1.3.0
  package.json
Due: none

feat: add GET /articles to swagger
  package.json
  src/main/config/app.ts
  src/main/config/swagger.ts
  src/main/docs/index.ts
  src/main/docs/paths.ts
  src/main/docs/paths/index.ts
  src/main/docs/paths/load-articles-path.ts
  src/main/docs/schemas.ts
  src/main/docs/schemas/article.ts
  src/main/docs/schemas/articles.ts
  src/main/docs/schemas/index.ts
  yarn.lock
Due: eslint src/** --fix, yarn test:staged

feat: add GET /articles/:category to swagger
  src/main/docs/paths.ts
  src/main/docs/paths/index.ts
  src/main/docs/paths/load-articles-by-category-path.ts
Due: eslint src/** --fix, yarn test:staged

feat: add GET /articles/search/:term to swagger
  src/main/docs/paths.ts
  src/main/docs/paths/index.ts
  src/main/docs/paths/load-articles-by-term-path.ts
Due: eslint src/** --fix, yarn test:staged

chore: release/2.0.0
  package.json
  src/main/docs/index.ts
Due: eslint src/** --fix, yarn test:staged

docs: add readme
  .docker/entrypoint.sh
  README.md
Due: none

chore: release/2.0.1
  package.json
  src/main/docs/index.ts
Due: eslint src/** --fix, yarn test:staged

feat: add script.py to project
  .docker/dockerfiles/Dockerfile.python
  scripts/requirements.txt
  scripts/script.py
Due: none

docs: add documentation about script python
  README.md
Due: none

chore: release/2.1.0
  package.json
  src/main/docs/index.ts
Due: eslint src/** --fix, yarn test:staged

docs: add python link
  README.md
Due: none

docs: update readme
  README.md
Due: none

feat: release/2.2.0
  docker-compose.yml
  package.json
  src/main/docs/index.ts
  yarn.lock
Due: eslint src/** --fix, yarn test:staged

feat: update package json
  package.json
Due: none

docs: update requirements
  requirements/load-articles-by-term.md
Due: none

fix: ensure run command to build project on up containers
  .docker/entrypoint.sh
Due: none
